@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif !important;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[multiple]:focus,
/* textarea:focus, */
select:focus {
    box-shadow: unset !important;
}
body {
    width: 100% !important;
}
.text-error {
    color: var(--el-color-danger) !important;
    font-size: 13px !important;
}
.el-menu-item svg {
    vertical-align: text-top;
}
.bold {
    font-weight: bold !important;
}
.normal {
    font-weight: normal !important;
}
.pointer {
    cursor: pointer !important;
}
.w-100 {
    width: 100% !important;
}
.w-75 {
    width: 75% !important;
}
.w-50 {
    width: 50% !important;
}
.w-25 {
    width: 25% !important;
}
.justify {
    text-align: justify;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 70vh;
}
.vti__dropdown-item strong {
    color: rgb(95, 95, 95) !important;
}
.my-card {
  overflow: visible !important;
}
.vti__dropdown-list {
    z-index: 999 !important;
}